body{
    font-style: inherit;
}
span.D{
    text-align: left;
    color: red;
    font-size: larger;
}
h1 {
    text-align: center ;
    color: black;
    font-size: 40px;
    padding-right: 5px;
    font-style: inherit;
}
.seconddiv{
    text-align: center ;
    font-size: 20px;
    padding right: 500px;
}
span.A {
    color: tomato;
    text-decoration: underline;
}
h2 {
    text-align: center;
    font-size: 20px;
    padding-right: 240px;
}
p{ text-align: center;padding-right: 240px;}
.seconddivv {text-align: center;padding-right: 125px; }
span.B{
    color: tomato;
}
span.C{
    color: tomato;
    font-size: 11px;
}
h4{
    text-align: center;
    font-size:20px;
    padding-right: 400px;
}
.thirddiv{
    text-align: center justify;
    padding-left: 373px;
    
    
}
.fourthdiv{
    text-align: center;
    padding-right: 150px;
}
span.F{
    color: tomato;
}
span.G{
    color: tomato;
    font-size: 11px;
}
h5{
    text-align: center justify;
    font-size: 20px;
    padding-left: 370px;
}
.sixthdiv {
    text-align: center justify;
    padding-left: 370px;
}
.seventhdiv {
    text-align: center;
    padding-right: 212px;
}
span.H{
    color: tomato;
}
span.I{
    color: tomato;
    font-size: 11px;
}
h6{
    text-align: center ;
    font-size: 20px;
    padding-right: 295px;
}
.ninethdiv{
    text-align: center justify;
    padding-left: 363px;
}
.tenthdiv{
    text-align: center;
    padding-right: 230px;
}
span.J{
    color: tomato;
}
span.K{
    color: tomato;
    font-size: 11px;
}
.firsthead{
    text-align: center;
    font-size: 20px;
    padding-right: 265px;
}
.eleventhdiv{
    text-align: center;
    padding-right: 375px;
}
.twelvethdiv{
    text-align: center;
    padding-right: 165px;
}
span.L{
    color: tomato;
}
span.M{
    color: tomato;
    font-size: 11px;
}
.secondhead{
    text-align: center justify;
    font-size: 20px;
    padding-left: 265px;
}
.thirtheendiv{
    text-align: center justify;
    padding-left: 353px;
}
.fourteendiv{
    text-align: center;
    padding-right: 210px;
}
span.N{
    color: tomato;
}
span.O{
    color: tomato;
    font-size: 11px;
}
.thirdhead{
    text-align: center;
    font-size: 20px;
    padding-right: 135px;
}
.fiftheendiv{
    text-align: center justify;
    padding-left: 347px;
}
.seventheendiv{
    text-align: center justify;
    padding-left: 346px;
}
span.P{
    color: tomato;
}
span.Q{
    color: tomato;
    font-size: 11px;
}
.fourthhead{
    text-align: center;
    font-size: 20px;
    padding-left: 110px;
}
.eighteendiv{
    text-align: center;
    padding-right: 295px;
}
.twentydiv{
    text-align: center;
    padding-right: 205px;
}
span.R{
    color: tomato;
}
span.S{
    color: tomato;
    font-size: 11px;
}
.fifthhead{
    text-align: center justify;
    font-size: 20px;
    padding-left: 340px;
}
.twenty-onediv{
    text-align: center;
    padding-right: 312px;
}
.twenty-twodiv{
    text-align: center;
    padding-right: 210px;
}
span.T{
    color: tomato;
}
span.U{
    color: tomato;
    font-size: 11px;
}





